body{
    margin: 0px;
    box-sizing: border-box;
}
.slide-container{
    position: relative;
    width: 100%;
}
.slide img{
    width: 100%;
}
.arrow{
    cursor: pointer;
    position: absolute;
    top: 45%;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.384);
    padding: 1vw 2vw;
    border-radius: 50%;
    font-size: larger;
    font-weight: bold;
}
.back{
    left: 10px;
}
.next{
    right: 10px;
}
.caption{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.slide{
    display: none;
}